@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    height: min-content;
    width: fit-content;
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 55);
}
.contenedor{
    max-width: 50%;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 0 0 8px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    padding: 0 30px 30px ;
}
.parrafo{
    font-size: 12px;
    font-weight: 500;
}
.contenedorIngreso{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
/* Celulares */
@media only screen and (max-width: 767px) {

}
